
#####################################################
# file must be placed here instead of in resources.
#####################################################


config.stopbubbling = true
lombok.log.custom.declaration = de.uol.snakeinc.log.AIExtendedLogger de.uol.snakeinc.log.AIExtendedLogger.create()